@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input {
  --tw-ring-shadow: 0 0 rgba(0, 0, 0, 1) !important;
}

@layer base {
  :root {
    --text: rgba(255, 255, 255, 1);
    --text-dark: rgba(0, 0, 0, 0.8);
    --text-hover: rgba(50, 50, 50, 1);
    --background: rgba(20, 8, 50, 0.3);
    --background-2: rgba(255, 255, 217, 0.5);
    --background-dark: rgba(0, 0, 0, 0.8);
    --primary: #a7dbd8;
    --secondary: #ff7a5c;
    --accent: #bafca2;
    --accent-blur: rgba(227, 151, 45, 1); /* #e3972d */
    --active: rgba(168, 168, 168, 0.6); /* #a8a8a8 */
    --border: rgba(255, 255, 255, 0.4); /* #a8a8a8 */
    --shadow: 0 8px 25px 0 rgba(76, 74, 107, 0.37);
    --hover: rgba(255, 255, 255, 0.7); /* #a8a8a8 */
  }
}

.ml-auto {
  margin-left: 0;
  margin-right: 0;
}

.avatar-icon {
  cursor: pointer;
}
