@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input {
  --tw-ring-shadow: 0 0 rgba(0, 0, 0, 1) !important;
}

@layer base {
  :root {
    --text: rgb(37, 37, 37);
    --background: #FDFD96;
    --background-2: #Ffffd9;
    --primary: #A7DBD8;
    --secondary: #FF7A5C;
    --accent: #BAFCA2;
    --accent-blur: rgba(227, 151, 45, 1); /* #e3972d */
    --disabled: rgba(168, 168, 168, 1); /* #a8a8a8 */
    --border: rgba(50, 50, 50, .7); /* #a8a8a8 */
    --shadow: rgba(0, 0, 0, 0.2); /* rgba(0, 0, 0, 0.2) */
    --data-color: black; /* rgba(0, 0, 0, 0.5) */
  }
}

.ml-auto {
  margin-left: 0;
  margin-right: 0;
}

.avatar-icon {
  cursor: pointer;
}
